/* * {
    margin: 0;
    padding: 0;
} */


body {
    font-family: arial;

}

.container {
    padding-bottom: 50px;
    padding-top: 20px;
    width: 450px;
    margin: 0 auto;
    box-shadow: 1px 1px 5px gray;

}

.container table {
    margin: 0 auto;
}

.container select {
    background-color: white;
    color: black;
    border: 1px solid blue;
}

.container h2 {
    text-align: center;
    padding-bottom: 10px;

}

.container table i {
    font-size: 11pt;
}